<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue.js</title>
</head>
<body>
	<div id="app">
		<form action="">
			<span> {{count}} / 30</span>
			<textarea v-model="textValue" ></textarea>
			<button v-if="count <=30">Send</button>
		</form>

	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<script>
		new Vue({
			el: "#app",
			data: {
				textValue: ''
			},
			computed: {
				count: function() {
					return this.textValue.length
				}
			},
			methods: {
				
			},
			watch: {
				textValue: function() {
					console.log(this.textValue)
				}
			}
		});
	</script>
</body>
</html>